# IIP Frontend Environment Variables Example
REACT_APP_BACKEND_URL=http://localhost:8000
REACT_APP_SUPPORT_PHONE=+91 9380036328
REACT_APP_SUPPORT_WHATSAPP=9380036328
REACT_APP_SUPPORT_EMAIL=support@indianindustrialplatform.com
REACT_APP_SUPPORT_ADDRESS=No. 35 Suvarna Nagar Doddabidrekallu Nagasandra - 560073
